.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

img{
  width: 100%; 
}

.campaigns{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
}

.campaign, .donor{
  width: 25%; 
  margin: .2%;
  text-align: left; 
  border: 1px solid black; 
}

.campaign p, h3{
  margin: .5%; 
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 0.5rem;
  color: #23293B;
}

.campaign-img{
  height: 250px; 
}
.list{
  display:flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  
}

button{
  text-decoration: none;
  background-color: #8B0000;
  color:#FFA07A;
  border: 1px solid
#23293B;
  padding: 1% .5%;
  border-radius: 5px; 
}

button:hover{
  background-color:
#FFA07A;
color:
#8B0000;
border: 1px solid
#23293B;
}

.home-header{
  display: wrap;
  flex-wrap: wrap; 
  justify-content: space-between;
}